{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>{{ 'Question index'|trans }} </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th> {{ 'Text'|trans }} </th>
                 <th>Categories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.text }}</td>
                <td> {% for categorie in question.categories %} {{ categorie.shortname }}  {% endfor %} </td>
                <td>
                    

                    <a class="btn btn-primary" href="{{ path('question_show', {'id': question.id}) }}">{{ 'show'|trans }}</a>
                    
                    <a class="btn btn-primary" href="{{ path('question_edit', {'id': question.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"> {{ 'no records found<'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      <a class="btn btn-primary" href="{{ path('question_new', {'nb': 2}) }}"> {{ '2 answers'|trans }}</a>
    <a class="btn btn-primary" href="{{ path('question_new', {'nb': 3}) }}"> {{ '3 answers'|trans }}</a>
     <a class="btn btn-primary" href="{{ path('question_new', {'nb': 4}) }}"> {{ '4 answers'|trans }}</a>
{% endblock %}
